body
{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
}

/* NAVBAR + HERO */
.hero
{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./assets/hero.jpg") center/cover no-repeat;
    height: 70vh;
    position: relative;
    color: #fff;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo
{
    font-size: 24px;
    font-weight: bold;
}

.nav_links
{
    display: flex;
    gap: 25px;
    list-style: none;
}

.hero_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
}


.hero_text h1
{
    font-size: 40px;
    line-height: 1.4;
}

.hero_btns
{
    margin-top: 20px;
}

.btn_red
{
    padding: 10px 25px;
    background: #e63946;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.btn_white
{
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    border: #e63946 2px solid;
}


/* THREE BOX SERVICES */
.three_boxes
{
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 25px;
}
.three_boxes img{
    width: 50px;
    height: auto;
    filter: brightness(0) invert(1);
}
.box
{
    width: 300px;
    padding: 30px;
    color: #fff;
}

.red_box
{
    background: #e63946;
}

.dark_box
{
    background: #1b1b1b;
}


/* SERVICES GRID */
.services
{
    text-align: center;
    padding: 60px;
}
.services img{
    width: 50px;
    height: auto;
}
.services p{
    color: #bab9b9;
    max-width: 600px;
    margin: 0px auto 0 auto;
    line-height: 1.6;
}
.service_item h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 15px 0;
}
.red-service-h{
    font-weight: bold;
    color: #e63946;
}
.services h2 span
{
    color: #e63946;
}
.services h2
{
    margin: 20px 0;
    font-size: 42px;
}

.service_grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 30px;
}

.service_item
{
    padding: 20px;
}


/* FEATURE SECTION */
.feature_section
{
    margin: 0 40px;
    display: flex;
    padding: 80px;
    background: #262730;
    color: #fff;
    gap: 40px;
    justify-content: center;
}

.feature_text
{
    width: 50%;
}
.feature_text h3{
    font-size: 32px;
}
.feature_text p{
    line-height: 1.6;
    max-width: 80%;
    color: #ccc;
}

.btn_white_border
{
    padding: 10px 25px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}

.feature_images
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.small_img
{
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.red_block
{
    width: 150px;
    height: 100%;
    background: #e63946;
}


/* SPLIT SECTION */
.split_section
{
    margin: 0 40px;
    background-color: #f3f3f3;
    display: flex;
    padding: 60px 120px;
    gap: 40px;
}
.split_section h3{
    margin-top: 15px;
    font-size: 32px;
}
.split_section p{
    line-height: 1.6;
    color: #777;
}
.left, .right
{
    width: 50%;
}


/* GALLERY */
.gallery_grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery_grid img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* TRUST SECTION */
.trust
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 40px;
}

.trust_left
{
    width: 500px;
}

.trust_right{
    width: 300px;
}
.trust_left h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.trust_right img
{
    margin-top: 20px;
    border-radius: 8px;
    width: auto;
    height: 200px;
    object-fit: cover;
}
.btn_black_border{
    padding: 10px 25px;
    border: 1px solid #000000;
    color: #000000;
    display: inline-block;
    margin-top: 20px;
}

/* LOGO BAR */
.clients-logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202B2F;
    margin: 0 40px;
    color: #fff;
    padding: 40px;
}
.left-logos img{
    width: 600px;
    gap: 30px;
}
.right-text{
    width: 400px;
    margin-right: 60px;
    text-align: right;
}
.right-text h3{
    font-size: 28px;
    margin-bottom: 15px;
}
.right-text p{
    line-height: 1.6;
    color: #ccc;
}

/* DESIGN SECTION */
.design_section
{
    background-color: #F8F8F8;
    margin: 0 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.left-section
{
    margin: 20px 50px;
    width: 500px;
}
.left-section h3{
    font-size: 32px;
}
.left-section p{
    line-height: 1.6;
    color: #a8a7a7;
}
.cards{
    display: flex;
    gap: 30px;
}

.design_card img{
    width: 30px;
    height: auto;
    margin: 10px 0;
    filter: brightness(0) saturate(100%) invert(22%) sepia(86%) saturate(7480%) hue-rotate(-3deg) brightness(98%) contrast(121%);
}
.design_card h4{
    margin-top: 0;
    margin-bottom: 10px;
}
.right-image{
    height: 400px;
    width: auto;
    margin-top: 40px;
}

/* CONTACT FORM */
.contact_form
{
    padding: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 5px;
}
.contact_form h2 
{
    font-size: 42px;
    text-align: right;
}
.contact-left{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
}
.contact-left p{
    margin-left: 50px;
    color: #999;
    line-height: 1.6;
    max-width: 400px;
    text-align: right;
}

button
{
    background: #e63946;
    border: none;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    padding: 14px;
    width: 920px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

form input,
form select,
form textarea {
    padding: 12px;
    width: 100%;
    border: 1px solid #999;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-input {
    width: 100%;
}

/* Textarea styling */
form textarea {
    height: 140px;
    resize: vertical;
}
/* FOOTER */
.footer
{
    background: #121212;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.footer_bottom ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0;
}

.copy
{
    margin-top: 20px;
    font-size: 14px;
}
.boxs_s{
    display: flex;
    gap: 40px;
}
.boxs_s .in_box{
    width: auto;
    flex: 1;
}