* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Header */
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 14px;
}

/* Hero Section */
.hero {
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./img/header-image.jpg") center/cover no-repeat;
    height: 600px;           
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;
}

.hero p {
    color: #ddd;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 1.6;
    max-width: 400px;
    margin: 0 auto 25px;
}

.cta-button {
    background-color: white;
    color: red;
    font-weight: bold;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Destination Cards */
.destinations {
    background: #dbdbdb;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 70px 50px;
}

.destination-card {
    max-width: 800px;
    display: flex;
    background: white;
    box-shadow: #00000080 0px 3px 18px;
    /* margin: 30px 0; */
    border-radius: 10px;
    overflow: hidden;
}

.destination-card:last-child {
    flex-direction: row-reverse;
}

.card-image {
    flex: 1;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.deganvy-img {
    background-image: url("./img/showcase-photo3.jpg");
    background-size: cover;
    background-position: center;
}


.egypt-img {
    background-image: url("./img/showcase-photo2.jpg");
    background-size: cover;
    background-position: center;
}

.card-content {
    flex: 1;
    padding: 40px;
}

.card-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.card-content p {
    color: #555;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 20px;
}

.more-button {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
}

/* Features */
.features {
    display: flex;
    max-width: 800px;
    margin: 60px auto;
    padding: 0px 50px;
}

.feature-card {
    flex: 1;
    padding: 30px 30px;
    text-align: center;
    color: white;
    background-color: #212f3c;
}

.feature-card:nth-child(2) { background-color: #e12948; }

.features h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.features p {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.6;
    margin-bottom: 15px;
}


/* Footer */
footer {
    background-color: #1a1a1a;
    padding: 30px;
    text-align: center;
}

.social-icons img {
    margin: 0 10px;
    width: 24px;
    height: 24px;
}

footer p {
    color: #888;
    margin-top: 15px;
    font-size: 12px;
}





/* ==================================================== */
/* ==================================================== */

.header2 {
    background-color: #212f3c;
    position: static;
    /* padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}


/* About Section */
.about-section {
    width: 100%;
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
}

.about-section h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
}

.red-line {
    width: 100%;
    height: 4px;
    background-color: #e74c3c;
    margin-bottom: 20px;
}

.about-description {
    color: #888;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 50px;
    max-width: 100%;
}

/* Features Grid */
.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.tick {
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.feature-item {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 15px;
}


/* Stats Section */
.stats-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
}

.stat-item h2 {
    color: #e74c3c;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat-item p {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* CTA Section */
.cta-section {
    background-color: #e74c3c;
    padding: 40px 60px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text {
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    max-width: 500px;
}

.cta-button-about {
    background-color: transparent;
    border-radius: 25px;
    color: #ffffff;
    padding: 20px 60px;
    border: 3px solid white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
}









/* ==================================================== */
/* ==================================================== */
.contact-body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 50px;
}

.right-details{
    background-color: #ffffff;
    height: 620px;
    max-width: 400px;
    min-width: 300px;
    padding: 20px;
}

.right-details h3{
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 2px;
}
.right-details p{
    color: #555555;
    margin: 10px 0 20px 0;
}
.right-details img{
    width: 24px;
    height: 24px;
}
.icon-heading{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.left-contact{
    background-color: #ffffff;
    padding: 20px;
    height: 620px;
    max-width: 400px;
}
.left-contact h2{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
}
.left-contact p{
    color: #8e8e8e;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.left-contact form input,
.left-contact form textarea {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.left-contact form label {
    color: #555;
}
.r{
    color: red;
}

.company-img{
    background-image: url("./img/company-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

.submit-button{
    background-color: #e12948;
    color: white;
    padding: 12px 45px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 15px auto 0;
}
